<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="SAP - HCM"
              author="Accenture" 
              author-affiliation = "Accenture" 
              author-email = "pradeep.tammineni@accenture.com"
              description="Accenture-Jive SAP-HCM App">
    <Require feature="dynamic-height"/>
    <Require feature="jive-core-v3"/>
    <Require feature="jive-connects-v1">
      <Param name="alias:SAPHCM|title:SAP HCM">jive:service://sap.com/api?version=1</Param>
    </Require>
    <Require feature="jquery-1.6"/>
    <Require feature="minimessage"/>
    <Require feature="osapi"/>
    <Require feature="views"/>
    <Require feature="embedded-experiences" /> 
    <Require feature="actions">
      <Param name="action-contributions">
      <![CDATA[        
        <action id="com.jivesoftware.rte.sap.html"
        path="jive/actions/rte"
        label="Insert Employee Details"
        view="embedded.html"
        icon="https://github.com/downloads/pradeeptammineni/acnhcm/icon16x16.png"/>
        
        <action id="com.jivesoftware.rte.sap.actionMenu"
        path="jive/actions/content/*"
        label="Lookup Employee Details"
        view="embedded.json"
        icon="https://github.com/downloads/pradeeptammineni/acnhcm/icon16x16.png"/>
      ]]> 
      </Param>
    </Require>
    <Require feature="selection" /> 
    
    <Link rel="Icon" href="https://github.com/downloads/pradeeptammineni/acnhcm/icon16x16.png" /> 
    <Link rel="MediumIcon" href="https://github.com/downloads/pradeeptammineni/acnhcm/icon48x48.png" /> 
    <Link rel="LargeIcon" href="https://github.com/downloads/pradeeptammineni/acnhcm/icon128x128.png" />
  </ModulePrefs>
  <Content view="home, canvas" type="html" href="hcmapp.html"/>
  <Content view="embedded.html" type="html" href="hcmapp-global.html" preferred_height="400" preferred_width="600"/>
  <Content view="embedded.json" type="html" href="hcmapp-rte.html" preferred_height="400" preferred_width="600"/>
</Module>