/* For Footer specially - neat layout */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:25px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   background:#12378B;
   text-align:center;
   color:white;
   font-weight:bold;
}

/* Record display table - ID: data-grid */
table.data-grid, table.crud, table.banner {  border:1px solid #222; margin:10px 20px 10px 20px; box-shadow:0 0 5px #888}
table.data-grid {width:90%;/*table-layout:fixed;*/}
table.data-grid thead tr th, table.crud thead tr th, table.banner thead tr th{ 
  color:white; padding:8px 15px 8px 8px; text-align:left; font-weight:bold
  }
table.data-grid tbody tr td { /* for overflow -- text-overflow:ellipsis; white-space:nowrap; */
  padding:2px; border-top:1px solid #222; cursor:default; 
  text-align:left; position:relative; overflow: hidden; 
  text-overflow:ellipsis; white-space:nowrap;
  } 
table.data-grid tbody tr:hover { background:#FFFF00}/*#F8F8D2*/
table.data-grid tbody tr.active { background:#FFFF00; color:black}
table.data-grid tbody tr.active a:link, table.data-grid tbody tr.active a:visited { color:#658AC3}
table.crud thead, table.data-grid thead tr th, table.data-grid tfoot tr th {
  background-color: #12378B;/*#658AC3;*/
  border: 1px solid #222;
}

table.data-grid thead tr .header {
	background-image: url(https://raw.github.com/pradeeptammineni/acnhcm/master/images/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.data-grid thead tr .headerSortUp {
	background-image: url(https://raw.github.com/pradeeptammineni/acnhcm/master/images/asc.png);
}
table.data-grid thead tr .headerSortDown {
	background-image: url(https://raw.github.com/pradeeptammineni/acnhcm/master/images/desc.png);
}
table.data-grid thead tr .headerSortDown, table.data-grid thead tr .headerSortUp {
background-color: #12378B;
}

td.heading-top-cell {
 font-size: 4em;	
}

/* Search form table ID: j-table*/
table.j-table tr td {
 padding: 10px; 
}

table.j-table tr td.heading-cell {
 font-weight: bold; 
}

table.j-table {
 border:1px solid #222; margin:20px; box-shadow:0 0 5px #888
}

table.j-table-special {
 background: #cdc9c9;
 color: white;
}

table.j-table thead tr th { 
  padding:8px 15px 8px 8px; text-align:left; font-weight:bold; background-color: #12378B; color:white;
}

div.menu {
	/* background-color: #12378B; */
	border: 0px solid #222;
	padding: 5px 0 0 5px;
}

div.menu a:link, div.menu a:visited { 
	display: inline-block; 
	padding: 5px 5px; 
	text-decoration: none;
	background-color: white;
	color: #12378B; 
	font-weight: bold;
	/* The following four lines are to make the top left and top right corners of each tab rounded. */
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	/* end of rounded borders */
}

div.menu a:hover, div.menu a.active:link, div.menu a.active:visited { 
	background: #cdc9c9; /*#E7E7F7*/
	/*color: white;*/
}

#pager img {
	margin: 0px 0px 0px 0px;
}

/*Masking - Start */
.loadmask {
	z-index: 100;
	position: absolute;
	top:0;
	left:0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
	background-color: #CCC;
	width: 100%;
	height: 100%;
	zoom: 1;
}
.loadmask-msg {
	z-index: 20001;
	position: absolute;
	top: 0;
	left: 0;
	border:1px solid #6593cf;
	background: #c3daf9;
	padding:2px;
}
.loadmask-msg div {
	padding:5px 10px 5px 25px;
	background: #fbfbfb;
	background-image: url(https://raw.github.com/pradeeptammineni/acnhcm/master/images/loading.gif) no-repeat 5px 5px;
	line-height: 16px;
	border:1px solid #a3bad9;
	color:#222;
	font:normal 11px tahoma, arial, helvetica, sans-serif;
	cursor:wait;
}
.masked {
	overflow: hidden !important;
}
.masked-relative {
	position: relative !important;
}
.masked-hidden {
	visibility: hidden !important;
}
/*Masking - End */