/* tables */ /* add to table - table-layout:fixed; */
table.data-grid, table.crud, table.banner {  border:1px solid #222; margin:20px; box-shadow:0 0 5px #888}
table.data-grid {width:80%;table-layout:fixed;}
table.data-grid thead tr th, table.crud thead tr th, table.banner thead tr th{ 
  color:white; padding:8px 15px 8px 8px; text-align:left; font-weight:bold
  }
table.data-grid tbody tr td { /* for overflow -- text-overflow:ellipsis; white-space:nowrap; */
  padding:2px; border-top:1px solid #222; cursor:default; 
  text-align:left; overflow: hidden; position:relative;overflow: hidden; 
  text-overflow:ellipsis; white-space:nowrap;
  } 
table.data-grid tbody tr:hover { background:#FFFF00}/*#F8F8D2*/
table.data-grid tbody tr.active { background:#FFFF00; color:black}
table.data-grid tbody tr.active a:link, table.data-grid tbody tr.active a:visited { color:#658AC3}
table.crud thead, table.data-grid thead tr th, table.data-grid tfoot tr th {
  background-color: #12378B;/*#658AC3;*/
  border: 1px solid #222;
}